.leftSide{
    margin-left: 50px;
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.content input{
    color: #7400b8;
    text-decoration: none;
    outline: none;
    width: 25em;
    height: 3rem;
    border-radius: 1em;
    font-size: large;
    margin-bottom: 15px;
}
.content .BTN{
    background-color: #7400b8;
    border: none;
    border-radius: 2em;
    width: 450px;
    height: 50px;
    color: #fff;
    font-size: large;
}
.BTN:hover{
    background-color: #7f02c7;
    opacity: 1;
    cursor: pointer;
}